# Binaries
bin/
api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out
*.cover

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment files
.env
.env.local

# Air
tmp/
tmp/main

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
