[Unit]
Description=Simple Social Thing Backend - STAGING
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/simple-social-thing/staging
ExecStart=/opt/simple-social-thing/staging/api
Restart=on-failure
RestartSec=5s

Environment="PORT=18911"
Environment="ENVIRONMENT=staging"
EnvironmentFile=/opt/simple-social-thing/staging/.env

[Install]
WantedBy=multi-user.target
